p {
  font: 400;
  font: 50px;
  text-align: center;
  height: 300px;
  margin: auto 0;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
